.config
*.o
*.pyc
*.a
*.d

# gtags
GTAGS
GRTAGS
GPATH

# emacs
.dir-locals.el

# emacs temp file suffixes
*~
.#*
\#*#

sdkconfig
sdkconfig.old
sdkconfig.lobo
.cproject
.project
.settings
BUILD
build/
.cache/
build_output.txt
temp/
local/
*.dis
*.elf
*.map
**/.DS_Store
